body {
  margin: 0 10%;
  width: 80%;
  text-align: center;
  background-color: lightblue;
}

.general {
  height: 440px;
  margin: 40px 20% 0 20%;
  background-color: white;
  border-radius: 10px;
}

.titre {
  padding: 50px 0;
}

.input {
  width: 70%;
  padding: 12px 20px;
  margin-bottom: 40px;
  background: lightgrey;
  border: 0;
}

.button {
  width: 50%;
  background: blue;
  padding: 15px 20px;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
}