.center {
    margin: auto;
    width: 60%;
}

nav, .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav > ul > li {
    float: left;
    border: 2px solid;
}

nav > ul > li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav > ul > li a:hover, .dropdown:hover .dropbtn {
    background-color: cornflowerblue;
}

nav > ul > li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}
