<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Liste Allergènes</title>
        <script type="text/javascript" src="../../js/Allergene/allergenScript.js" defer></script>
    </head>
    <body>

        <div id="divCreateAllergene">
            <form>
                <label for="inputCreate">Ajouter un allergène : </label>
                <input id="inputCreate" type="text" placeholder="Nom de l'allergène">
                <button type="reset" >Ajouter</button>
            </form>
        </div>

        <div id="listeAllergene">
            <ul>
                <li id="allergene1">
                    <input>Allergene x</input>
                    <button>Modifier</button>
                    <button>Supprimer</button>
                </li>
                <li>
                    <span>Allergene x</span>
                    <button>Modifier</button>
                    <button>Supprimer</button>
                </li>
            </ul>
        </div>
    </body>
</html>
