<div id="divListAllergene">
    <select id="grosSelect">
        <option value="abc">Ordre1</option>
        <option>Ordre2</option>
        <option>Ordre3</option>
    </select>

    <ul>
        <li id="liAllergene1">
            <input id="inputAllergene1" type="text" readonly="">
            <button id="buttonUpdateAllergene1" type="button">Modifier</button>
            <button id="buttonDeleteAllergene1" type="button">Supprimer</button>
        </li>
        <li id="liAllergene2">
            <input id="inputAllergene2" type="text" readonly="">
            <button id="buttonUpdateAllergene2" type="button">Modifier</button>
            <button id="buttonDeleteAllergene2" type="button">Supprimer</button>
        </li>
        <li id="liAllergene3">
            <input id="inputAllergene3" type="text" readonly="">
            <button id="buttonUpdateAllergene3" type="button">Modifier</button>
            <button id="buttonDeleteAllergene3" type="button">Supprimer</button>
        </li>
        <li id="liAllergene4">
            <input id="inputAllergene4" type="text" readonly="">
            <button id="buttonUpdateAllergene4" type="button">Modifier</button>
            <button id="buttonDeleteAllergene4" type="button">Supprimer</button>
        </li>
        <li id="liAllergene5">
            <input id="inputAllergene5" type="text" readonly="">
            <button id="buttonUpdateAllergene5" type="button">Modifier</button>
            <button id="buttonDeleteAllergene5" type="button">Supprimer</button>
        </li>
        <li id="liAllergene6">
            <input id="inputAllergene6" type="text" readonly="">
            <button id="buttonUpdateAllergene6" type="button">Modifier</button>
            <button id="buttonDeleteAllergene6" type="button">Supprimer</button>
        </li>
    </ul>
</div>