<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Liste Allergènes</title>
        <script type="text/javascript" src="../../js/Allergene/AllergeneListScript.js" defer></script>
    </head>
    <body>

        <div id="divCreateAllergene">
            <input type="text" placeholder="Nom de l'allergène"> </input>
            <button>Ajouter</button>
        </div>

        <div id="listeAllergene">
            <ul>
                <li id="allergene1">
                    <input>Allergene x</input>
                    <button>Modifier</button>
                    <button>Supprimer</button>
                </li>
                <li>
                    <span>Allergene x</span>
                    <button>Modifier</button>
                    <button>Supprimer</button>
                </li>
            </ul>
        </div>
    </body>
</html>
