html{
    /*background-color: lightblue;*/
    max-width: 1000px;
    margin: auto;
}

main {
    background-color: #ececec;
}

#divCreationUtilisateur{
    border: 2px solid rgb(92, 137, 238);
    padding: 10px;
    border-radius: 3px;
    align-content: center;
}



input {
    background-color: lightgrey;
    border: none;
    margin-right: 25px;
}

input:read-only {
    background-color: darkgray;
}

input:read-write:hover{
    background-color: white;
    border-bottom: 2px solid blue;

}

input:read-write:focus{
    background-color: white;
}

button {
    border: none;
    background-color: darkgray;
    border-radius: 3px;
}

button:hover{
    background-color: lightgrey;
}

.parentButton{
    text-decoration: none;
}

li{
    padding: 4px;
    list-style-type: none;
}


tr {
    text-align: center;
}

.dataline{
    border: 3px black double;
    /*border-radius: 10px;*/
}

th{
    font-size: larger;
}




/**********************Mes modifications,SALIM****************************/

form{
    text-align: center;
}  /*Pour aligner la création d'ingrédient*/

/*label{*/
/*    padding: 0 0 20px 0;*/
/*}*/





#divSearchIngredient{
    text-align: right ;
}

.idIngr{
    font-weight: bold;
    color: red;
}

.nom{
    font-family: serif;
    font-style : italic;
}

/*Pour colorier une fois sur deux la ligne du tableau de la liste des ingredients*/
table tr:nth-child(odd){
    background-color:lightgrey;
}
